
body {
  font-family: "Manrope Variable", sans-serif;
}


.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE y Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, y Opera */
}

/* body {
  margin: 0;
  padding: 0;
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-weight: 400;
} */