---
const { class: className } = Astro.props;
---

<button
  class=`${className} aria-label="button-hero" font-medium rounded-full border-[1px] size-9 flex items-center justify-center text-card-text
 border-card-border
  bg-card-background
  shadow-[4px_4px_0px_#c4dc72]
  hover:shadow-[6px_6px_0px_#c4dc72]
  hover:translate-x-[2px]
  hover:translate-y-[2px]
  transition-all
  duration-200
  ease-in-out`
  {...Astro.props}
>
  <slot />
</button>

<!-- class="rounded-full border border-white/10 flex justify-center items-center
gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base bg-white/5
hover:bg-white/10 transition" -->
